
@{
    ViewData["Title"] = "Success";
}

<h1>You create a new promo offer successfully!</h1>

<div>
    <a asp-action="Create">Create new promo offer</a>
</div>

<div>
    <a asp-action="All">List all promo offers</a>
</div>