@{
    ViewData["Title"] = "ForUs Page";
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">

    <style>
        main {
            border-width: 3px;
            border-color: dodgerblue;
            border-style: solid;
        }
    </style>
</head>

<div class="text-center">
    
    <h3 class="display-4">Всичко за нашия сайт Техно Свят, което е възможно да ви интересува.</h3>
    <p style="text-align:center;">
        Техно Свят е уебсайт специализиран в продажбата на компютри, лаптопи, телефони и аксесоари към тях.
        Сайтът започва да функционира и работи с клиенти на 26.04.2022. Предлагаме разнообразие от стоки, 
        като компютрите, лаптопите и телефоните са в една страница, аксесоарите в друга, за да бъде колкото
        се може по-удобно за потребителите. Предлагаме безплатна доставка на закупено оборудване до домашната
        врата на клиента, изплащане на новия уред, възможности за закупуване на стоки на кредит и за плащане 
        на избрани продукти с кредитни и дебитни карти, програми за лоялни клиенти с бонуси и отстъпки.
    </p>
    <img src="https://ugtechmag.com/wp-content/uploads/2020/07/c-users-hp-appdata-local-microsoft-windows-tempor-12.jpeg"
         alt="Store pic" width="625" height="500">
</div>


