@{ ViewData["Title"] = "ForUs Page"; }





@*<head>
    <meta charset="UTF-8">

    <style>
        main {
            border-width: 3px;
            border-color: dodgerblue;
            border-style: solid;
        }
    </style>
</head>*@

<div class=" card-header text-center">

    <h3 class="display-4">Everything about our Techno World site that may interest you.</h3>
    <hr />
    <p style="text-align:center;">
        Techno World is a website specializing in the sale of computers, laptops, phones and accessories.
        The site started operating and working with clients on April 26, 2022. We offer a variety of goods
        as each is separated into its own category to be as much
        can be more convenient for users. We offer free delivery of purchased equipment to the home
        customer's door, payment for the new appliance, opportunities to purchase goods on credit and to pay
        of selected products with credit and debit cards, loyalty programs with bonuses and discounts.
    </p>
    <hr />
    <div class="text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!4v1650641531698!6m8!1m7!1s42WZaFujG7Pw1WRGxM0gcQ!2m2!1d42.60498569721045!2d23.02975272387516!3f116.18395315952667!4f-5.566875062833461!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>

</div>
<hr />
<div>
   
        <h3 class="text-center btn-secondary p-7 text-light rounded-pill">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
            </svg>Our address<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
            </svg>
        </h3>
    </a>
</div>


