@{
    ViewData["Title"] = "ForUs Page";
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">

    <style>
        main {
            border-width: 3px;
            border-color: dodgerblue;
            border-style: solid;
        }
    </style>
</head>

<div class="text-center">
    
    <h3 class="display-4">Everything about our Techno World site that may interest you.</h3>
    <p style="text-align:center;">
        Techno World is a website specializing in the sale of computers, laptops, phones and accessories.
        The site started operating and working with clients on April 26, 2022. We offer a variety of goods
        as each is separated into its own category to be as much
        can be more convenient for users. We offer free delivery of purchased equipment to the home
        customer's door, payment for the new appliance, opportunities to purchase goods on credit and to pay
        of selected products with credit and debit cards, loyalty programs with bonuses and discounts.
    </p>
    <img src="https://ugtechmag.com/wp-content/uploads/2020/07/c-users-hp-appdata-local-microsoft-windows-tempor-12.jpeg"
         alt="Store pic" width="625" height="500">
</div>


