@{
    ViewData["Title"] = "Home Page";
}



<body>

    <header style="background-image: url('https://alldonetechnology.com/wp-content/uploads/2020/06/pngtree-blue-minimalistic-tech-computer-banner-poster-background-image_178088.jpg') ">

        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="~/images/Logo.png" width="150" h alt="Logo" />

            <h1 class="text-white ">Techno World</h1>
            <h3 class="text-white">Welcom to our website!</h3>

        </div>
    </header>

    <div class="text-center">
        <a href="https://localhost:44341/Products/All">

            <div class="col-3 d-inline-block">
                <img src="/images/LaptopLenovo.png" width="200" />
                <p class="font-weight-bolder">Laptops</p>
            </div>
        </a>
        <a href="https://localhost:44341/Products/All">
            <div class="col-3 d-inline-block">
                <img src="/images/LenovoEarphones.png" width="200" />
                <p class="font-weight-bolder">Accessories</p>
            </div>
        </a>
        <a href="https://localhost:44341/Products/All">
            <div class="col-3 d-inline-block">
                <img src="/images/SamsungMonitor.png" width="200" />
                <p class="font-weight-bolder">Monitors</p>
            </div>
        </a>
    </div>

    <div style="background-image: url('https://www.htmlcsscolor.com/preview/gallery/0496FF.png') ">

    </div>

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Добре дошли в Techno World!</h2>
                    <h2 class="lead">Тук ще намерите точно това от което имате нужда. Предлагаме разнообразние от лаптопи, монитори и аксесоари, също така не забравяйте да разгледате нашите промоционални оферти.</h2>

                </div>
            </div>
        </div>
    </section>

    <div style="background-image: url('https://alldonetechnology.com/wp-content/uploads/2020/06/pngtree-blue-minimalistic-tech-computer-banner-poster-background-image_178088.jpg') ">

        <div style="height: 2rem"></div>


    </div>


</body>
