@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">


    <style>
        main {
            border-width: 3px;
            border-color: dodgerblue;
            border-style: solid;
        }
        .p1 {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        /* Clear floats after image containers */
           

         /*       .p1

        {
            text-align: center;
        }*/

       
    </style>
</head>

<div class="text-center">
    <h1 class="display-4">Добре дошли в нашия сайт TechnoWorld.</h1>
    <p>
        Сайт с много избор на техника и аксесоари за вашите компютри и телефони.

    </p>
    <td>
        <p1>
            <a href="https://localhost:44341/Products/All">
                <h4> Продукти</h4>


                <h>
                    <a href="https://localhost:44341/Products/All">
                        <img src="https://www.lenovo.com/medias/lenovo-laptop-thinkpad-x1-carbon-gen8-subseries-hero.png?context=bWFzdGVyfHJvb3R8ODQ4NDd8aW1hZ2UvcG5nfGgyMi9oOGYvMTA2NzQ1ODc3Mjk5NTAucG5nfDQzODYxOTc5ODA0MWJhZTQyYThjOTAzZjE0NDI2NWVjYjY5MjE3MGFiMWEzODhlN2UyMGUwNGZhMWRmOTJmNzg"
                             alt="ProductPic" width="200" />
                    </a>

                    <a href="https://localhost:44341/Products/All">
                        <h4> Аксесоари</h4>


                        <h>
                            <a href="https://localhost:44341/Products/All">
                                <img src="https://dice.bg/content/pics/46769_baseus-encok-w04-pro-tws-in-ear-bluetooth-earphones-bezjichni-blutut-slushalki-s-bezjichen-zarejdasht-keis-za-mobilni-ustroistva-siv_2823063863.jpg"
                                     alt="ProductPic" width="200" />
                            </a>
                            <a href="https://localhost:44341/Products/All">
                                <h4> Промоции</h4>


                                <h>
                                    <a href="https://localhost:44341/Products/All">
                                        <img src="https://promocodeproduct.com/wp-content/uploads/2021/06/1624317418_Lenovo-ThinkCentre-M81-SFF-Desktop-Computers-PC-Intel-Core-i5.jpg"
                                             alt="ProductPic" width="200" />
                                    </a>
    </td>

    @*<p1>

            <div class="row">
                <div class="column">
                    <img src="https://www.lenovo.com/medias/lenovo-laptop-thinkpad-x1-carbon-gen8-subseries-hero.png?context=bWFzdGVyfHJvb3R8ODQ4NDd8aW1hZ2UvcG5nfGgyMi9oOGYvMTA2NzQ1ODc3Mjk5NTAucG5nfDQzODYxOTc5ODA0MWJhZTQyYThjOTAzZjE0NDI2NWVjYjY5MjE3MGFiMWEzODhlN2UyMGUwNGZhMWRmOTJmNzg" alt="ProductPic" width="200" />
                </div>
                <div class="column">
                    <img src="https://dice.bg/content/pics/46769_baseus-encok-w04-pro-tws-in-ear-bluetooth-earphones-bezjichni-blutut-slushalki-s-bezjichen-zarejdasht-keis-za-mobilni-ustroistva-siv_2823063863.jpg" alt="ProductPic" width="200" />
                </div>
                <div class="column">
                    <img src="https://promocodeproduct.com/wp-content/uploads/2021/06/1624317418_Lenovo-ThinkCentre-M81-SFF-Desktop-Computers-PC-Intel-Core-i5.jpg" alt="ProductPic" width="200" />
                </div>
            </div>

        </p1>*@


</div>

