@model TechnoWorld.Models.Order.OrderCreateBindingModel
<form asp-controller="Order" asp-action="Create" method="post">
    <div class="d-flex align-items-center">
        <label class="font-weight-bold text-left mr-1" asp-for="ProductCount">Count:</label>
        <div class="mr-1">
            <input class="form-control" min="1" asp-for="ProductCount" />
            <span asp-validation-for="ProductCount" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Order</button>
    </div>
    <input type="hidden" asp-for="ProductId" value="@Model.ProductId">
</form>
