@model TechnoWorld.Models.StatisticVM

@{
    ViewData["Title"] = "Statistic";
}

<h1>Statistic</h1>

<h4>Count of all products: @Model.countProducts</h4>
<h4>Count of all users: @Model.countUsers</h4>
<h4>Count of all orders: @Model.countOrders</h4>
