@{
    ViewData["Title"] = "Success";
}
<h1>You create a new product successfully!</h1>
<div>
    <a asp-action="Create"> Create new product</a>
</div>
<div>
    <a asp-action="All"> View all products</a>
</div>
